.dog {
  position: relative;
  width: 600px;
  height: 500px;
  transform: scale(0.25);
  transform-origin: center center;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%) scale(0.25);
}

.dog:hover .tongue {
  margin-top: 290px;
}

.dog div {
  position: absolute;
}

.dog div:after,
.dog div:before {
  position: absolute;
  content: "";
}

.collar {
  width: 200px;
  height: 200px;
  background-color: #f25a2b;
  border-radius: 50%;
  margin: 210px 200px;
}

.collar:after {
  width: 50px;
  height: 50px;
  background-color: #e4bb3b;
  border-radius: 50%;
  margin: 75px 75px;
}

.neck {
  width: 180px;
  height: 180px;
  background-color: #f4e5be;
  border-radius: 50%;
  margin: 200px 210px;
}

.mouth {
  width: 120px;
  height: 120px;
  background-color: #cc9b59;
  border-radius: 50%;
  margin: 210px 180px;
}

.mouth:after {
  width: 120px;
  height: 120px;
  background-color: #cc9b59;
  border-radius: 50%;
  margin: 0 114px;
}

.face {
  background-color: #f4e5be;
  height: 150px;
  margin: 120px 180px;
  width: 235px;
}

.ear--left,
.ear--right {
  width: 0;
  height: 0;
  border-bottom: 150px solid #523026;
  border-right: 100px solid transparent;
  margin-top: 118px;
}

.ear--left {
  transform: scaleX(-1);
  margin-left: 80px;
}

.ear--left:after {
  width: 100px;
  height: 100px;
  background-color: #523026;
  border-radius: 50%;
  margin: 108px 0;
}

.ear--right {
  margin-left: 413px;
}

.ear--right:after {
  width: 100px;
  height: 100px;
  background-color: #523026;
  border-radius: 50%;
  margin: 108px 0;
}

.eye--left,
.eye--right {
  margin-top: 180px;
  width: 30px;
  height: 30px;
  border: 15px solid #523026;
  border-radius: 50%;
}

.eye--left {
  margin-left: 200px;
}

.eye--right {
  margin-left: 330px;
}

.eye--left:after,
.eye--right:after {
  width: 60px;
  height: 30px;
  background-color: #f4e5be;
  margin: 15px -30px;
}

.nose {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 45px solid #523026;
  transform: rotate(180deg);
  margin: 230px 267px;
}

.freckles--left,
.freckles--right {
  width: 15px;
  height: 15px;
  background-color: #523026;
  border-radius: 50%;
  margin-top: 285px;
}

.freckles--left {
  margin-left: 220px;
}

.freckles--right {
  margin-left: 350px;
}

.freckles--left:before,
.freckles--right:before {
  width: 15px;
  height: 15px;
  background-color: #523026;
  border-radius: 50%;
  margin: -20px 15px;
}

.freckles--left:after,
.freckles--right:after {
  width: 15px;
  height: 15px;
  background-color: #523026;
  border-radius: 50%;
  margin: -20px -15px;
}

.tongue {
  width: 50px;
  height: 50px;
  background-color: #f9b1e0;
  border-radius: 50%;
  transition-duration: 0.8s;
  margin: 240px 270px;
}
